# Database Configuration
# Copy this file to .env and fill in your actual values
# DO NOT commit .env file to version control!

# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dashboard
POSTGRES_PORT=5432

# SSL Mode
# disable - для локальной разработки (миграции НЕ выполняются автоматически)
# require/verify-full - для production (миграции выполняются автоматически)
# DB_SSLMODE=disable

# Jwt token
JWT_SECRET=4WpCMC6jsxV001CT7ZKPtlDl8hHAa+JyMXPnt09/6S4=

